@media only screen and (min-width: 943px) {
.linkIcons {
    position: absolute;
    z-index: 3; /* Устанавливаем значение z-index меньше, чем у .post и .name */
    top: 190px;
    .linkIcon {
        margin-right: 34px;
    }
}
}

@media only screen and (max-width: 943px) {
    .linkIcons {
        position: absolute;
        z-index: 3; /* Устанавливаем значение z-index меньше, чем у .post и .name */
        top: 290px;
        .linkIcon {
            margin-right: 34px;
        }
    } 
}

@media only screen and (max-width: 450px) {
    .linkIcons {
        
        .linkIcon {
            margin-right: 10px; 
        }
    } 
}