/* Общие стили для всех экранов */
.techIcons {
    width: 100%;
    height: 45px;
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    .techIcon {
      display: flex;
      align-items: center;
      height: 45px;
      margin-left: 45px;
      .name {
        margin: 0 0 0 10px;
        color: white;
        white-space: nowrap;
        font-size: 24px;
        font-weight: bold;
      }
      .icon {
        width: 30px;
        height: 30px;
        /* Add background color */
        background-color: white;
        transition: 0.2s;
        /* Add mask image, use variable to reduce duplication */
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
    }
  }